@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(
    circle farthest-side at 50% 100%,rgba(129,7,37),
    rgba(129,7,37) 36%,
    rgba(159,14,49) 55%,
    rgba(195,31,72));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.retirement-metrics {
  display: flex;
  flex-wrap: wrap;
}

.metric {
  flex-basis: 33%;
  padding: 10px;
  text-align: center;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.value {
  font-size: 1.2em;
  font-weight: bold;
}

